@use 'Styles/variables' as g;

.StarRating__container {
  display: flex;
  justify-content: center;
}

.StarRating__star {
  width: 35px;
  height: 35px;
  margin: 10px;
  fill: none;
  stroke: g.$contrast-color;
  stroke-width: .4rem;
}

.StarRating__star.on {
  stroke:none;
  fill: g.$contrast-color;
}

.StarRating__container-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.StarRating__container-button:hover {
  transform: scale(1.1);
}

svg {
  pointer-events: none;
}