@use 'Styles/variables' as g;

.container {
  width: g.$popup-width;
  height: g.$popup-height;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
}