// colors
$primary-color: #fff;
$secondary-color: #555BFF;
$contrast-color: #AE4EFF;
$background-grey: #F8F8F8;
$text-main: #373F41;
$main-gradient: linear-gradient(90deg, rgba(95, 100, 255, 0.7) 0%, rgba(174, 78, 255, 0.85) 100%);

//sizes
$popup-width: 350px;
$popup-height: 600px;
$input-height: 50px;
$input-width: 306px;
