@font-face {
	font-family: 'Mulish';
	src: url('../assets/fonts/mulish-v7-latin-regular.woff2') format('woff2'),
		url('../assets/fonts/mulish-v7-latin-regular.woff') format('woff');
  font-weight: normal;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
  font-size:  0.62rem;
}