.form-group {
  margin-bottom: 10px;
}

.form-group label {
  position: absolute;
  font-size: 1.2rem;
  color: #AE4EFF;
}

.form-group input {
  width: 306px;
  height: 56px;
  background: #F8F8F8;
  border-radius: 4px 4px 0px 0px;
  border: none;
  border-bottom: 1px solid #ABA9A9;
  padding-left: 15px;
  font-size: 1.6rem;
}

.form-group input::placeholder {
  font-size: 1.6rem;
  color: #373F41;
  ;
}

.form-group input:focus {
  outline: none;
  border-bottom: 2px solid #AE4EFF;
}

.form-group input:focus::placeholder {
  color: transparent;
}