@use "Styles/variables" as g;

.OptionsPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  // background: #fff;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  z-index: -1;
}
