@use 'Styles/variables' as g;

.OptionsPage {
  font-size: 2rem;
  padding: 30px;
  input {
    padding-left: 20px;
    width: 200px;
    height: 80px;
  }
  button {
    width: 200px;
    height: 60px;
  }
}